# 数据加载、存储与文件格式

着重介绍pandas的输入和输出。

输入输出通常可以划分为几个大类： 

- 读取文本文件和其它更高效的磁盘存储格式
- 加载数据库中的数据
- 利用Web API操作网络资源

<br/>
<br/>

## 读写文本格式的数据

pandas提供了一些用于将表格型数据读取为DataFrame对象的函数。

- read_csv
- read_table
- read_sql
- read_json
- read_hdf
- read_html
- read_excel
- read_pickle
- read_sas
- read_clipboard
- read_msgpack
- read_stata
- read_feather

In [1]:
import pandas as pd
import numpy as np

In [2]:
!cat /tmp/examples/ex1.csv

In [3]:
df = pd.read_csv('/tmp/examples/ex1.csv')

In [4]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
#指定分隔符
pd.read_table('/tmp/examples/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
!cat /tmp/examples/ex2.csv

In [7]:
#自定义列名
pd.read_csv('/tmp/examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [8]:
pd.read_csv('/tmp/examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('/tmp/examples/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [10]:
!cat /tmp/examples/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [11]:
pd.read_csv('/tmp/examples/csv_mindex.csv', index_col=['key1', 'key2'])

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [12]:
list(open('/tmp/examples/ex3.txt'))

['            A      B       C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [13]:
pd.read_table('/tmp/examples/ex3.txt', sep='\s+')

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [14]:
!cat /tmp/examples/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [15]:
#跳过指定行
pd.read_csv('/tmp/examples/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [16]:
!cat /tmp/examples/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [17]:
#缺失值
pd.read_csv('/tmp/examples/ex5.csv')

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [18]:
pd.read_csv('/tmp/examples/ex5.csv').isnull()

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [19]:
#表示缺失值
pd.read_csv('/tmp/examples/ex5.csv', na_values=['NULL'])

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo


<br>

### 逐块读取文本格式

In [20]:
#设置pandas显示
pd.options.display.max_rows = 10

In [21]:
pd.read_csv('/tmp/examples/ex6.csv')

     one  two  three   four key
0      1  1.1   1.11  1.111   A
1      1  1.1   1.11  1.111   A
2      1  1.1   1.11  1.111   A
3      1  1.1   1.11  1.111   A
4      1  1.1   1.11  1.111   A
..   ...  ...    ...    ...  ..
117    1  1.1   1.11  1.111   A
118    1  1.1   1.11  1.111   A
119    1  1.1   1.11  1.111   A
120    1  1.1   1.11  1.111   A
121    1  1.1   1.11  1.111   A

[122 rows x 5 columns]

In [22]:
#指定读取行
pd.read_csv('/tmp/examples/ex6.csv', nrows=5)

   one  two  three   four key
0    1  1.1   1.11  1.111   A
1    1  1.1   1.11  1.111   A
2    1  1.1   1.11  1.111   A
3    1  1.1   1.11  1.111   A
4    1  1.1   1.11  1.111   A

In [23]:
#逐块读取
chunker = pd.read_csv('/tmp/examples/ex6.csv', chunksize=1000)
chunker

In [24]:
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
    
tot = tot.sort_values(ascending=False)

In [25]:
tot[:10]

A    122.0
dtype: float64

<br/>

### 将数据写出到文本

In [26]:
data = pd.read_csv('/tmp/examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [27]:
data.to_csv('/tmp/examples/out.csv')
!cat /tmp/examples/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [28]:
#使用其它分隔符
import sys
data.to_csv(sys.stdout, sep='\t', na_rep='NULL')

	something	a	b	c	d	message
0	one	1	2	3.0	4	NULL
1	two	5	6	NULL	8	world
2	three	9	10	11.0	12	foo

In [29]:
#禁用行和列的标签
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [30]:
#一部分列
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

<br/>

### 处理分隔符格式

In [31]:
!cat /tmp/examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [32]:
import csv

In [33]:
f = open('/tmp/examples/ex7.csv')

In [34]:
with open('/tmp/examples/ex7.csv') as ex7:
    reader = csv.reader(ex7)
    for line in reader:
        print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [35]:
with open('/tmp/examples/ex7.csv') as ex7:
    lines = list(csv.reader(ex7))

In [36]:
header, values = lines[0], lines[1:]
data_dict = {h: v for h, v in zip(header, zip(*values))}

data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [37]:
#csv文件形式有很多，只需定义csv.Dialect的一个子类即可定义出新格式
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

reader = csv.reader(f, dialect=my_dialect)
for i in reader:
    print(i)

['a,"b","c"']
['1,"2","3"']
['1,"2","3"']


<br/>

### JSON数据

In [38]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [39]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 30, 'name': 'Scott', 'pets': ['Zeus', 'Zuko']},
  {'age': 38, 'name': 'Katie', 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [40]:
#将python对象转换为json格式
asjson = json.dumps(result)
asjson

'{"pet": null, "siblings": [{"age": 30, "name": "Scott", "pets": ["Zeus", "Zuko"]}, {"age": 38, "name": "Katie", "pets": ["Sixes", "Stache", "Cisco"]}], "places_lived": ["United States", "Spain", "Germany"], "name": "Wes"}'

In [41]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age', 'pets'])

siblings

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

In [42]:
!cat /tmp/examples/example.json

[{"a": 1, "b": 2, "c": 3},
{"a": 4, "b": 5, "c": 6},
{"a": 7, "b": 8, "c": 9}]

In [43]:
pd.read_json('/tmp/examples/example.json')

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [44]:
print(pd.read_json('/tmp/examples/example.json').to_csv())

,a,b,c
0,1,2,3
1,4,5,6
2,7,8,9

<br>

### XML和HTML： Web信息收集

pandas的`read_html`使用 lxml，BeautifulSoup自动将HTML文件中的表格解析为DataFrame对象。

In [45]:
#安装所需库
#conda install lxml beautifulsoup4 html5lib

In [48]:
#table = pd.read_html('/tmp/examples/test01.html')
#len(table)
#

<br>

### 利用lxml.objectify解析XML

In [49]:
from lxml import objectify


<br/>

## 二进制数据格式

实现数据的高效二进制格式存储最简单的办法之一是使用Python内置的pickle序列化。

> 注意：pickle仅建议用于短期存储格式。其原因是很难保证格式永远是稳定的。

<br>

In [50]:
frame = pd.read_csv('/tmp/examples/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [53]:
frame.to_pickle('/tmp/examples/frame_pickle')

In [54]:
!ls /tmp/examples/

buy_and_hold.pkl  ex1.csv  ex5.csv	 frame_picker  Untitled.ipynb
buy_and_hold.py   ex2.csv  ex6.csv	 frame_pickle
csv_mindex.csv	  ex3.txt  ex7.csv	 out.csv
download.html	  ex4.csv  example.json  result.pkl

In [55]:
pd.read_pickle('/tmp/examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

<br/>

pandas支持两个二进制数据格式：

- HDF5
- MessagePack

pandas和NumPy数据的其它存储格式有：

- bcolz: 一种可压缩的列存储二进制格式
- Feather: 一种跨语言的列存储文件格式

<br/>

### HDF5格式

HDF5是一种存储大规模科学数组数据的非常好的文件格式。

HDF5不是数据库，它最适合用作“一次写多次读”的数据集。

In [59]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']

In [58]:
frame

           a
0  -0.515089
1   0.809934
2   1.348798
3  -1.150746
4  -1.095724
..       ...
95 -1.535549
96 -2.115553
97 -0.409049
98 -0.120206
99  0.636724

[100 rows x 1 columns]

In [60]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5
/obj1                frame        (shape->[100,1])
/obj1_col            series       (shape->[100])

In [61]:
store['obj1']

           a
0   0.589424
1   0.661825
2   1.154725
3  -0.015777
4  -0.031621
..       ...
95 -0.545482
96  1.443750
97  0.483329
98 -0.433122
99 -0.646678

[100 rows x 1 columns]

In [62]:
store.put('obj2', frame, format='table')

store.select('obj2', where=['index >= 10 and index <= 15'])

           a
10  1.103507
11  0.651658
12 -0.358554
13 -0.810108
14  0.178309
15  1.110144

In [63]:
store.close()

In [64]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

          a
0  0.589424
1  0.661825
2  1.154725
3 -0.015777
4 -0.031621


<br>

### 读取Excel文件

pandas的ExcelFile类或pandas.read_excel函数支持读取Excel表格数据。这两个工具需要安装`conda install xlrd openpyxl`

In [69]:
xlsx = pd.ExcelFile('/tmp/examples/ex1.xlsx')
frame = pd.read_excel(xlsx, 'Sheet1')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [70]:
#如果要将pandas数据写入Excel格式，必须先创建一个ExcelWriter
writer = pd.ExcelWriter('/tmp/examples/ex2.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()

#也可以不适用ExcelWriter，而是传递文件的路径
#frame.to_excel('/tmp/examples/ex2.xlsx')


<br/>

## Web APIs交互

许多网站都通过JSON或其它格式提供数据的公共API。

推荐Python使用requests包访问这些API。

In [71]:
import requests

In [72]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)

In [73]:
resp

In [75]:
data = resp.json()

type(data)

list

In [77]:
len(data)

30

In [83]:
data[0]['body']

'We are working on upgrading pint to be compatible with pandas, see https://github.com/hgrecco/pint/pull/684\r\n\r\nI am guessing that the line in the docs,\r\n\r\n> If you’re building a library that implements the interface, please publicize it on Extension Data Types.\r\n\r\nmeant something like this pull request. If that\'s completely wrong, apologies.\r\n\r\n- [x] closes #xxxx (N/A as not directly related to an issue, but makes progress towards #10349 )\r\n- [x] (N/A) tests added / passed \r\n- [x] (N/A) passes `git diff upstream/master -u -- "*.py" | flake8 --diff` *\r\n- [x] whatsnew entry\r\n'


<br/>

## 数据库交互

In [104]:
import pymysql

In [105]:
conn = pymysql.connect(user='test',
                      password='test',
                      db='test',
                      charset='utf8',
                      cursorclass=pymysql.cursors.DictCursor)

In [122]:
help(pd.read_sql

SyntaxError: unexpected EOF while parsing (<ipython-input-122-c05d4d769c69>, line 1)